<!-- <p>
<a [routerLink]="['/login']">Login</a>
</p>
 -->
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>LOGIN</h3>
<div class="card-body">

 <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()"> 
     <div class="form-group">
         <label for="username">Username</label>
         <input id="username" class="form-control is-invalid" [ngClass]="{'is-invalid':loginForm.submitted && username.invalid }" name="username" #username="ngModel" [(ngModel)]="model.username" required/>          
         <span class="invalid-feedback">Username Can't Be Empty</span>
        </div>
     <div class="form-group">
         <label for="password">Password</label> 
         <input type="password" id="password" class="form-control" [ngClass]="{'is-invalid':loginForm.submitted && password.invalid }" name="password" #password="ngModel" [(ngModel)]="model.password" required />       
    <span class="invalid-feedback">Password Can't be Blank</span>
     
     <!-- VALIDATION -->
         <!-- <p>Valid :: {{username.valid}} </p>
     <p>Invalid :: {{username.invalid}} </p>
     <p>Touched :: {{username.touched}} </p>
     <p>Unouched :: {{username.untouched}} </p>
     <p>Dirty :: {{username.dirty}} </p>
     <p>Pristine :: {{username.pristine}} </p> -->

        </div>

     <div class="form-group">
         <input type="checkbox" id="remember" name="remember" #remember="ngModel" [(ngModel)]="model.remember">
         <label class="ml-1" for="remember"> remember Me</label>
     </div>

     <button class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
 </form>
</div>
</div>
</div>
</div>
</div>